html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  margin-bottom: 50px;
  font: 16px / 1 sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

/* 
///
Top of page banner 
///
*/
header {
  background-color: #f2f2f2;
  position: fixed;  
  width: 100%;
}

hr {
  border: .125em solid red;
  margin-bottom: 0;
}

.bannerContainer {
  margin-right: 100px;
  margin-left: 100px;
}

.bannerBar {
  display: flex;
}

.navLinks {
  margin-top: 1.5625em;
}

.navLinks a {
  text-decoration: none;
  color: black;
  margin-left: .9375em;
  margin-right: .9375em;
}

.navLinks a:hover {
  color: red;
}

.logo {
  margin-left: 1.875em;
  margin-right: 1.875em;
  margin-top: 1.875em;
  margin-bottom: 1.875em;
}

.searchIcon {
  margin-top: 1.5625em;
  margin-left: 42.5em;
}

/* 
///
Page Title 
///
*/

h1 {
  text-align: center;
  margin-bottom: 0;
  color: #4d4d4d;
  margin-top: 3.5em;
}

.pageTitle {
  display: inline-flex;
  flex-direction: column;
  text-content: center;
  margin-bottom: 1.5em;
}

.pageTitle p {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: .3em;
}

.lineTwo {
  margin-top: 0;
}

/* 
///
Pictures 
///
*/

.pictures {
  display: flex;
  margin-left: 6.25em;
  margin-right: 6.25em;
}

.pictures img {
  margin: .125em;
}

.pictures img:hover {
  cursor: pointer;
}

/* 
///
Bottom Text
///
*/

.bottomText {
  display: flex;
  flex-direction: row;
  margin-left: 6.25em;
  margin-right: 6.25em;
}

.newSection {
  width: 21.875em;
  margin-right: 6.25em;
}

.newSection h2{
  color: red;
}

.newSection a {
  color: black;
} 

.columnParagraphs {
  display: flex;
  flex-direction: row;
}

.columnParagraphs p {
  margin: .625em;
}